<center><h1>Registro</h1>

<table class="table">
  <thead class="thead-white">
    <tr>
      <th scope="col">
      <th scope="col">First Name</th>
      <th scope="col">Second Name</th>
      <th scope="col">First last Name</th>
      <th scope="col">Second last Name</th>
      <th scope="col">Document Type</th>
      <th scope="col">Document number</th>
      <th scope="col">role</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people %>
  </tbody>
</table>

</center>